<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projet_pw/templates/backOffice/about.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projeto.html">Projects</a></li>
          <li><a href="login.html" id="login-link">Login</a></li>
        
        </ul>
    </nav>

    <div class="container">
        <figure>
            <img src="/projet_pw/lib/pngtree-user-profile-avatar-png-image_10211467-Photoroom.png-Photoroom.png" alt="Figure 1">
            <figcaption>JOÃO VIEIRA <br> Nº30333</figcaption>
        
        </figure>
        <figure>
            <img src="/projet_pw/lib/pngtree-user-profile-avatar-png-image_10211467-Photoroom.png-Photoroom.png" alt="Figure 2">
            <figcaption>FRANCISCO CARAMALHO <br> Nº30245 </figcaption>
        </figure>
        <figure>
            <img src="/projet_pw/lib/pngtree-user-profile-avatar-png-image_10211467-Photoroom.png-Photoroom.png" alt="Figure 3">
            <figcaption>PEDRO CARVALHO <br> Nº30237</figcaption>
        </figure>
    </div>




</body>
</html>
