<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/projet_pw/templates/backOffice/password.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="login.html">Back</a></li>
         
        
        </ul>
    </nav>
            
    <div class="centrar">
        <h1>Forgot Password</h1>
       
        <input class="espaco" placeholder="Email">

        <p>
            <button><a href="login.html">New Password</a></button>
        </p>

    </div>
</body>
</html>
