<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projet_pw/templates/backOffice/homepage.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projeto.html">Projects</a></li>
          <li><a href="login.html" id="login-link">Login</a></li>
        
        </ul>
    </nav>
            


    <div class="container">
        <div class="texto">
          Este site foi desenvolvido no âmbito da cadeira de programação web.
          Este site foi desenvolvido por 3 alunos do Instituto Politécnico de Viana do Castelo 
          com o objetivo de ajudar os alunos a encontrar projetos acadêmicos para a sua área de estudo.
        </div>
        <div class="imagem">
          <img src="/projet_pw/lib/logo.png" alt="Descrição da imagem">
        </div>
      </div>





</body>
</html>
