<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/projet_pw/templates/backOffice/login.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projeto.html">Projects</a></li>
        
        
        </ul>
    </nav>
            
    
    <div class="conteudo">
            <img src="/projet_pw/lib/logo.png" width="300" height="300">             
            <div class="login">
                <h1 class="h1">LOGIN</h1>
                
                    <input type="text" placeholder="Email">
                <p>
                    <input type="text" placeholder="Password">
                </p>
                
                <button><a href="perfil.html">Login</a></button>
                <button class="button2"><a href="forgot_password.html">Forgot Password</a></button>
                <p>
                    <button class="button3"> <a href="create_account.html"> Create Account</a></button>
                </p>
            </div>
    </div>
</body>
</html>
