<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Utilizador</title>
    <link rel="stylesheet" href="/projet_pw/templates/backOffice/perfil.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projeto.html">Projects</a></li>
          
        
        </ul>
    </nav>
    <div class="centrar">
        <h1>Perfil</h1>
    </div>
    <div class="container">
        <ul> 
            <br>
                <button class="same-size-button"><a href="meusprojetos.html"> Meus Projetos</a></button>
            <br>
                <button class="same-size-button"><a href="Equipas.html"> Equipas de Trabalho</a></button>
            <br>
                <button class="same-size-button"><a href="relatorio.html"> Relatorio</a></button>
            <br>
                <button class="same-size-button"><a href="tarefas.html"> Tarefas e Cronogramas</a></button>
           
        </ul>
            <img src="https://media.discordapp.net/attachments/1226910659472527430/1227898827701489674/pngtree-user-profile-avatar-png-image_10211467-Photoroom.png-Photoroom.png?ex=662a14e5&is=66179fe5&hm=057e947863a0c3f2787048c0a723b7525319f379bfcadd63d50a6647b2dddec1&=&format=webp&quality=lossless&width=450&height=450" alt="Imagem" width="250" height="250">        
            <div class="barras">   
                    <input type="text" placeholder="Email">
                <p>
                    <input type="text" placeholder="Data de Nascimento">
                </p>
                <p>
                    <input type="text" placeholder="Profissão">
                </p>
                <p>
                <input type="text" placeholder="Contacto">
                </p>
                <p>
                <input class="inputdesc" type="text" placeholder="Descrição">
                </p>
            </div> 
    </div>
    <button class="save"><a href="projeto.html">Save</a></button>

</body>
</html>
